<div class="bg-info p-2 mb-2 flex-fill" id="selected-customer-cars">
    {% if customer_cars %}
        <div class="list-group" id="customer-cars">
            {% for car in customer_cars%}
                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{car.car_model.car_brand.brand_name}} {{car.car_model.model_name}}</h5>
                    {% if car.manufacture_year%}
                        <small>{{car.manufacture_year}} year</small>
                    {% endif %}
                </div>
                {% if car.mileage%}
                    <small>{{car.mileage}} km</small>
                {% else %}
                    <small>Unknown mileage</small>
                {% endif %}
                </a>
            {% endfor %}
        </div>
    {% else %}
        no customer selected
    {% endif %}

</div>

<div class="bg-warning p-2 flex-fill" id="selected-customer-visits">
    {% if customer_visits %}
        <div class="list-group" id="customer-visits">
            {% for visit in customer_visits%}
                <a href="" class="list-group-item list-group-item-action flex-column align-items-start">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{visit.visit_number}}, {{visit.visit_date|date:"F j, Y" }}</h5>
                    <small>{{visit.visit_status.status_name}}</small>
                </div>
                <p class="mb-1">{{visit.visit_service_count}} services, totaling ₴{{visit.price}}</p>
                {% if visit.actual_end_date %}
                    <small>Completed: {{visit.actual_end_date|date:"F j, Y" }}</small>
                {% else %}
                    <small>Planned end date: {{visit.planned_end_date|date:"F j, Y" }}</small>
                {% endif %} 
                </a>
            {% endfor %}
        </div>
    {% else %}
        no customer selected
    {% endif %}
</div>