#customer-visits{
    max-height: 300px;
    overflow-y: auto;
}

#car-search-bar{
    border-radius: 3px;
}

#car-search-results{
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y:scroll;
}

#service-search-results{
    max-height: 300px;
    margin-bottom: 10px;
    overflow-y:scroll;
}

#visit-services-container{
    max-height: 450px;
    margin-bottom: 10px;
    overflow-y:scroll;
}

#staged-visit-services{
    max-height: 370px;
    margin-bottom: 10px;
    overflow-y:scroll;
}

#customer-search-results{
    max-height: 400px;
    margin-bottom: 10px;
    overflow-y:scroll;
}

#customer-cars-list{
    max-height: 400px;
    margin-bottom: 10px;
    overflow-y:scroll;
}
