#visits-table td {
    padding: 10px;
    border: 1px solid #220d0d;
    text-wrap: nowrap;

}

#table-container{
    max-height: 75vh;
    overflow-y: auto;
}

#items-lable{
    text-wrap: nowrap;
}

#visits-table tbody tr.active {
    background-color: #cae7f1; 
}

#visits-table tbody tr:hover {
    background-color: #cfcfcf; 
}