<!--_order_details.html-->
<div>
    <h6 class="border-bottom pb-2 mb-3">Order Items</h6>
    <div id="placement-form-container-{{ order.pk }}">
    </div>
    <div class="table-responsive" id='units-container'
      x-data="{
        expandedUnits: new Set(),
        toggleUnit(unitId) {
          if (this.expandedUnits.has(unitId)) {
            this.expandedUnits.delete(unitId);
          } else {
            this.expandedUnits.add(unitId);
          }
        },
        isExpanded(unitId) {
          return this.expandedUnits.has(unitId);
        },
    }"
      >
      <table class="table table-sm table-striped" id="order-units-table-{{order.pk}}">
        <thead>
          <tr>
            <th>Запчастина</th>
            <th>Бренд</th>
            <th>Тип</th>
            <th>Кількість</th>
            <th>Ціна за одиницю</th>
            <th>Загальна ціна</th>
            <th>Статус розміщення</th>
            <th>Дії</th>
          </tr>
        </thead>
        <tbody id="order-units-table-body-{{order.pk}}">
          {% for unit in order.units.all %}
          {% with placed_count=unit.get_placed_count %}
            {% include 'part_procurement/_unit_row_with_placement.html'%}
          {% endwith %}
          {% empty %}
          <tr>
            <td colspan="7" class="text-center">Немає запчастин в замовленні</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    
    <div class="mt-3 d-flex justify-content-between">
      <button class="btn btn-sm btn-outline-success" 
              hx-get="{% url 'add-order-unit' order.pk%}"
              hx-target="#placement-form-container-{{ order.pk }}"
              >
        <i class="bi bi-plus-circle"></i> Додати запчастину
      </button>
    </div>
</div>