<!--_order_details.html-->
<div class="order-details-container"
     style="background-color: rgba(var(--bs-secondary-rgb), 0.05);">
  <!-- Order Info Section -->
  <div class="row g-2" id="order-info--{{ order.pk }}">
    <div class="col-12" 
        id="order-info-fields-{{ order.pk }}"
        hx-get="{% url 'order-info' order.pk %}" 
        hx-trigger="load" 
        hx-target="#order-info-fields-{{ order.pk }}" 
        hx-swap="innerHTML">
    </div>
  </div>
  
  <!-- Order Items Section -->
  <div class="py-1 px-2 small text-nowrap">
    <h6 class="d-inline py-2 mb-2 fw-bold small text-uppercase">Позиції в замовлені</h6>
    <!-- Action Buttons -->
    <button class="d-inline btn btn-sm btn-outline-primary" 
            hx-get="{% url 'add-order-unit' order.pk%}"
            hx-target="#placement-form-container-{{ order.pk }}">
      <i class="bi bi-plus-circle"></i> Додати запчастину
    </button>
  </div>
  <div id="placement-form-container-{{ order.pk }}" class="mb-2"></div>
  
  <!-- Units Table -->
  <div class="table-responsive" id="units-container"
    x-data="{
      expandedUnits: new Set(),
      toggleUnit(unitId) {
        if (this.expandedUnits.has(unitId)) {
          this.expandedUnits.delete(unitId);
        } else {
          this.expandedUnits.add(unitId);
        }
      },
      isExpanded(unitId) {
        return this.expandedUnits.has(unitId);
      },
    }">
    <table class="table table-sm table-striped table-bordered mb-2" id="order-units-table-{{order.pk}}">
      <thead class="table-light">
        <tr>
          <th class="py-1 px-2 small">Запчастина</th>
          <th class="py-1 px-2 small">Бренд</th>
          <th class="py-1 px-2 small">Тип</th>
          <th class="py-1 px-2 small">Кількість</th>
          <th class="py-1 px-2 small">Ціна за одиницю</th>
          <th class="py-1 px-2 small">Загальна ціна</th>
          <th class="py-1 px-2 small">Статус розміщення</th>
          <th class="py-1 px-2 small">Дії</th>
        </tr>
      </thead>
      <tbody id="order-units-table-body-{{order.pk}}">
        {% for unit in order.units.all %}
        {% with placed_count=unit.get_placed_count %}
          {% include 'part_procurement/_unit_row_with_placement.html'%}
        {% endwith %}
        {% empty %}
        <tr>
          <td colspan="8" class="text-center py-2">Немає запчастин в замовленні</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>