<div class="row">
    <div class="col-md-6">
      <strong>Постачальник:</strong> {{ order.supplier.supplier_name }}<br>
      <small>Email: {{ order.supplier.email }} | Телефон: {{ order.supplier.phone_number }}</small>
    </div>
    <div class="col-md-6">
      <strong>Працівник:</strong> {{ order.employee.first_name }} {{ order.employee.last_name }}<br>
      <small>Посада: {{ order.employee.employee_position }} | Email: {{ order.employee.email }}</small>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-6">
      <strong>Статус:</strong> {{ order.procurement_status }}
    </div>
    <div class="col-md-6">
      <strong>Дата замовлення:</strong> {{ order.order_date|date:"Y-m-d H:i" }}
    </div>
  </div>
  
  <!-- Кнопка редагування -->
  <div class="mt-2">
    <button class="btn btn-sm btn-outline-primary"
            hx-get="{% url 'edit-order-info' order.pk %}"
            hx-target="#order-info-fields-{{ order.pk }}"
            hx-swap="innerHTML">
      Редагувати
    </button>
  </div>
  