<div class="mx-2 my-2">
    <input class="border rounded mb-2 form-control" id="car-search-bar"
            type="search"
            name="search"
            placeholder="Пошук авто за брендом, моделлю, типом"
            hx-get="{% url 'car-search' %}"
            hx-trigger="input delay:0.2s"
            hx-target="#car-search-results"
        />
    <section> 
        <div class="list-group" id="car-search-results"
            hx-get="{% url 'car-search' %}"
            hx-trigger="load"
            hx-target="#car-search-results"
            >
            {% include "service_site/visits/_car_search_result.html" %}
        </div>
    </section>
</div>