<div class="row g-0">
    <div class="col-5 py-3 ps-3 border-end">
        <input type="hidden" id="selected-car-id-hidden-input" name="selected_car_id" value="{{ visit_car.pk }}">
        <h6 class="fw-bold text-uppercase">Car details</h6>
        <h4 class="fw-semibold">{{ visit_car.car_model.car_brand.brand_name }} {{ visit_car.car_model.model_name }}</h4>

        {% if visit_car.manufacture_year %}
            <p class="mb-1">📅 Year: {{ visit_car.manufacture_year }}</p>
        {% endif %}

        {% if visit_car.mileage %}
            <p class="mb-1">🛣️ Mileage: {{ visit_car.mileage }} km</p>
        {% else %}
            <p class="mb-1">🛣️ Mileage: Unknown</p>
        {% endif %}

        <p class="mb-1">🔐 VIN: {{ visit_car.vin }}</p>
        <p class="mb-1">🎨 Color: {{ visit_car.color }}</p>
    </div>

    <div class="col-7 py-3 ps-3">
        <h6 class="fw-bold text-uppercase">Model details</h6>
        <p class="mb-1">🛠️ Engine:
            {{ visit_car.car_model.engine_type.engine_type_name|default:"Unknown" }}
        </p>
        <p class="mb-1">⚙️ Transmission:
            {{ visit_car.car_model.transmission_type.transmission_type_name|default:"Unknown" }}
        </p>
        <p class="mb-1">🔧 Suspension type:
            {{ visit_car.car_model.suspenison_type.suspenison_type_name|default:"Unknown" }}
        </p>
        <p class="mb-1">🚗 Body type:
            {{ visit_car.car_model.body_type.body_type_name|default:"Unknown" }}
        </p>
        <p class="mb-1">🚙 Drive type:
            {{ visit_car.car_model.drive_type.drive_type_name|default:"Unknown" }}
        </p>
    </div>
</div>

