<div class="py-0" id="selected-service-detailed-view">
    {% if visit_service %}
        {% include 'service_site/visits/_selected_visit_service.html' %}
    {% else %}
        <p>Виберіть невиконану послугу</p>
    {% endif %}
</div>
{% comment %} {% if visit_service %} {% endcomment %}
    <button class="btn btn-primary btn-sm mb-2" id="add-required-parts-button" type="button" 
            hx-post="{% url 'save-staged-parts' %}" 
            hx-target="#visit-services"
            hx-include="#visit_service_id"
            hx-target="#messages"
            x-show="staged_part_count > 0"
        >
        Виконати послгу
    </button>
{% comment %} {% endif %} {% endcomment %}
<div class="pb-2" id="part-search-container">
    {% if visit_service %}
        {% include 'service_site/visits/_part_search.html' %}
    {% else %}
        <p>Виберіть невиконану послугу</p>
    {% endif %}
</div>