{% load group_filters %}
<input type="hidden" name="visit_service_id" value="{{ visit_service.pk }}" id="visit_service_id">
<div class="fw-bold">{{visit_service.service.service_name}}</div>
<div>Категорія: {{visit_service.service.service_type.service_type_name}}</div>

<span>
    К-сть: {{visit_service.quantity}} x {{visit_service.service.price}} ₴,
    {% if visit_service.provided_service %}
        загальна ціна (включаючи запчастини): {{ visit_service.provided_service.get_total_price }} ₴
    {% else %}
        загальна ціна: {{ visit_service.get_total_price }} ₴
    {% endif %}
</span>

<div>
    {% if visit_service.provided_service %}
        <span class="badge bg-success rounded-pill">
            Надано:  
            {% if visit_service.provided_service.provided_date %}
                {{visit_service.provided_service.provided_date|date:"F j, Y" }}
            {% endif %}
        </span>
        <span> виконав {{visit_service.provided_service.employee}}</span> 
    {% else %}
        <span class="badge bg-warning rounded-pill">Очікується</span>
    {% endif %}
</div>

{% if visit_service.provided_service %}
    <div x-data="{ show_used_parts: false, button_text: 'Показати'}">
        <button class="btn btn-sm btn-outline-primary me-2 mt-2" @click="show_used_parts = !show_used_parts; button_text = show_used_parts ? 'Приховати' : 'Показати'">
            <i class="bi bi-tools"></i> 
            <span x-text='button_text'></span>
            використані запчастини
        </button>
        <div x-show="show_used_parts" class="bg-light p-2 rounded mt-2 w-100">
            <ul class="list-group">
                {% for r_part in visit_service.provided_service.required_parts.all %}
                    {% include "service_site/visits/_selected_visit_service_required_part.html"%}
                {% endfor %}
            </ul>
        </div>
    </div>
{% endif %}

{% if visit_service.service.description %}
    <p class="mb-1">{{service.description}}</p>
{% endif %}
