{% if messages %}
    <div class="toast-container position-fixed top-0 end-0 p-3">
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="toast align-items-center bg-success border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body
                            text-white">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% elif message.tags == 'error' %}
                <div class="toast align-items-center bg-danger border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body
                            text-white">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% elif message.tags == 'warning' %}
                <div class="toast align-items-center bg-warning border-0" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="d-flex">
                        <div class="toast-body
                            text-white">
                            {{ message }}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var toastElements = document.querySelectorAll('.toast');
            toastElements.forEach(function(toastElement) {
                var toast = new bootstrap.Toast(toastElement, {
                    autohide: true,
                    delay: 3000
                });
                toast.show();
            });
        });
    </script>
{% endif %}