<div class="mt-2 mb-2 rounded" id="customer-details">
                    
    {% if visit_customer %}
        <h5>Owner details</h5>
        <div class="card">
            <div class="card-header">
                <h5>{{visit_customer.first_name}} {{visit_customer.last_name}}</h5>
            </div>
            <div class="card-body">
                <h7>
                    <i class="bi bi-phone"></i>
                    {{visit_customer.phone_number}}
                </h7>
                <p>
                    <i class="bi bi-envelope-at"></i>
                    {{visit_customer.email}}
                </p>
            </div>
        </div>
    {% else %}
        Select the car to see the customer details
    {% endif %}     
</div>


<div id="selected-car">
    {% if visit_car %}
        {% include 'service_site/visits/_car_details.html'%}
    {% else %}
        Select the car to see the details
    {% endif %}
    
</div>

<button type="button" class="btn btn-primary my-2 mx-2" data-bs-toggle="modal" data-bs-target="#carSearchModal">
    Change car in visit
</button> 


<div id="visit-car-input" hx-swap-oob="true" >
    <input type="hidden" name="car" id="car-id-input" value="{{ visit_car.pk }}">
</div>
