{% load group_filters %}
<div class="ms-2 me-auto flex-grow-1">
    <div 
        {% if request.user|has_group:"mechanic" and not v_service.visit.visit_status.status_name == "Completed" and not v_service.visit.visit_status.status_name == "Cancelled"%}
            class="mb-0 text-primary btn"
            hx-get="{% url 'service-part-search' v_service.pk %}"
            hx-target="#mechanic-service-widget"
            hx-swap="innerHTML"
        {% else %}
            class="fw-bold"
        {% endif %}
        >
                    {{v_service.service.service_name}}</div>
    <div>Категорія: {{v_service.service.service_type.service_type_name}}</div>

    <span x-show="!editing" >
        К-сть: {{v_service.quantity}} x {{v_service.service.price}} ₴,
        {% if v_service.provided_service %}
            Загальна ціна (Включаючи запчастини): {{ v_service.provided_service.get_total_price }} ₴
        {% else %}
            Загальна ціна: {{ v_service.get_total_price }} ₴
        {% endif %}
    </span>

    <span x-show="editing">
            <input type="number" id='quantity-input-v_id-{{v_service.pk}}' name="quantity" class="form-control w-25" 
                min="1" max="100" step="1" 
                value="{{v_service.quantity}}">
    </span> 

    <div>
        {% if v_service.provided_service %}
            <span class="badge bg-success rounded-pill">
                Виконано:  
                {% if v_service.provided_service.provided_date %}
                    {{v_service.provided_service.provided_date|date:"F j, Y" }}
                {% endif %}
            </span>
            <span> Виконав {{v_service.provided_service.employee}}</span> 
        {% else %}
            <span class="badge bg-warning rounded-pill">Очікується</span>
        {% endif %}
    </div>

    {% if v_service.provided_service %}
        <div x-data="{ show_used_parts: false, button_text: 'Показати'}">
            <button class="btn btn-sm btn-outline-primary me-2 mt-2" @click="show_used_parts = !show_used_parts; button_text = show_used_parts ? 'Приховати' : 'Показати'">
                <i class="bi bi-tools"></i> 
                <span x-text='button_text'></span>
                використані запчастини
            </button>
            <div x-show="show_used_parts" class="bg-light p-2 rounded mt-2 w-100">
                <ul class="list-group">
                    {% for r_part in v_service.provided_service.required_parts.all %}
                        <li class="list-group-item">
                            <div>
                                <span class="fw-bold">  
                                    {{r_part.part_in_station.part.part_name}},
                                </span>
                                <span>  
                                    Категорія: {{r_part.part_in_station.part.part_type.part_type_name}}
                                </span>
                            </div>
                            <span>К-сть: {{r_part.quantity}} x {{r_part.get_part_price}} ₴, загальна: {{ r_part.get_total_price }} ₴</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    {% endif %}

    {% if v_service.service.description %}
        <p class="mb-1">{{service.description}}</p>
    {% endif %}
</div>
<div class="d-flex align-items-center">
    {% if not v_service.provided_service %}
        {% if request.user|has_group:"manager" %}
            <button class="btn btn-sm btn-outline-primary me-2" @click="editing = true" x-show="!editing">
                <i class="bi bi-pencil"></i> 
                Змінити
            </button>

            <button class="btn btn-sm btn-outline-primary me-2" @click="editing = false" x-show="editing">
                Відмінити
            </button>

            <button class="btn btn-sm btn-outline-primary me-2" @click="editing = false" x-show="editing"
                hx-post="{% url 'visit-service' v_service.pk %}"
                hx-target="#visit-services"
                hx-swap="outerHTML"
                hx-include="#quantity-input-v_id-{{v_service.pk}}"
                >
                Зберегти
            </button>

            {% csrf_token %}
            <button class="btn btn-sm btn-close btn-danger" 
                    hx-delete="{% url 'visit-service' v_service.pk %}" 
                    hx-target="#visit-services"
                    hx-swap="outerHTML"
                    hx-confirm="Ви дійсно хочете видалити цю послугу?"
                    > 
            </button>
        {% endif %}
    {% endif %}
</div>