<div class="mb-2 rounded" id="customer-details">
                    
    {% if visit_customer %}
        <div class="card">
            <div class="card-header bg-primary d-flex justify-content-between align-items-center text-white">
                <h6>Клієнт {{visit_customer.first_name}} {{visit_customer.last_name}}</h6>
                <button id="change-customer-button" type="button" class="btn btn-sm btn-outline-light" x-show='editing_mode'
                    hx-get="{% url 'customer-search-page' %}"
                    hx-target="#visit-customer-details"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    @click="customer_editing_mode = true"
                    >
                    Змінити клієнта
                </button>
            </div>
            <div class="card-body">
                <h7>
                    <i class="bi bi-phone"></i>
                    {{visit_customer.phone_number}}
                </h7>
                <p>
                    <i class="bi bi-envelope-at"></i>
                    {{visit_customer.email}}
                </p>
            </div>
        </div>
    {% else %}
        Виберіть авто, щоб побачити клієнта
    {% endif %}     
</div>


<div id="selected-car">
    <div class="card rounded-4 overflow-hidden car-info-card">
        {% if visit_car %}
            <div class="card-header d-flex justify-content-between align-items-center">
                <h6 class="mb-0">
                    {{ visit_car.car_model.car_brand.brand_name }} {{ visit_car.car_model.model_name }}
                </h6>
                <button id="change-customer-button" type="button" class="btn btn-sm btn-primary" x-show='editing_mode'
                    hx-get="{% url 'select-visit-customer' %}"
                    hx-target="#visit-customer-details"
                    hx-trigger="click"
                    hx-swap="innerHTML"
                    hx-vals='{"customer_id": "{{ visit_customer.pk }}"}'
                    >
                    Змінити авто
                </button>
            </div>
            {% include 'service_site/visits/_car_details.html'%}
        {% else %}
            Виберіть авто, щоб побачити детальну інформацію
        {% endif %}
    </div>
</div>

<div id="visit-car-input" hx-swap-oob="true" >
    <input type="hidden" name="car" id="car-id-input" value="{{ visit_car.pk }}">
</div>
