{% extends 'base.html' %}
{% load static %}


{% block title %}Visit details{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'service_site/visit_details.css' %}"> 
{% endblock %}

{% block js_files %}
    <script src="{% static 'service_site/js/modals.js' %}"></script>
    <script src="{% static 'service_site/js/toast.js' %}" defer></script>
{% endblock %}

{% block content %}
    {% include 'service_site/includes/nav_bar.html'%}
    <div class="container-fluid g-2 px-4 pt-1">
        <div class="row flex-nowrap g-2">
            <div class="col-8 align-self-start g-2 mt-2 mx-1 visit-details-container">
                <div class="row flex-nowrap g-2 mt-2">
                    <div class="card px-0 mt-2 me-1 align-self-start rounded" 
                        x-data="{editing_mode: {% if visit.pk and not is_edit_form %} false {% else %} true {% endif %},
                                visit_id: '{{ visit.pk }}',
                                customer_editing_mode: false}" 
                        id="visit-details-card">
                        <div class="card-header bg-primary text-white d-flex justify-content-between align-items-center">
                            <h5>Деталі візиту: {{ visit.visit_number }}{% if visit %}, станція: {{visit.employee.station.address}}{% endif %}</h5>
                            {% if visit %}
                                <!-- Add this dropdown to your visit services list page -->
                                <div class="col-2 dropdown">
                                    <button class="btn btn-primary dropdown-toggle mt-2 mb-2 w-100" type="button" id="exportServicesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                                        Експортувати вибірку
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="exportServicesDropdown">
                                        <li>
                                            <a class="dropdown-item" hx-get="{% url 'export-visit-services' visit.pk %}?format=csv" 
                                            hx-include="#filter-form">
                                                CSV
                                            </a>
                                        </li>
                                        <li>
                                            <a class="dropdown-item" hx-get="{% url 'export-visit-services' visit.pk %}?format=json"
                                            hx-include="#filter-form">
                                                JSON
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            {% endif %}
                            {% if visit.visit_status.status_name != "Completed"%}
                                <template x-if='customer_editing_mode && editing_mode'>
                                    <a class="btn btn-sm btn-outline-light" href={% if visit.pk %}'{% url "visit-detail"  visit.pk%}'{% endif %}
                                            @click="customer_editing_mode = false
                                                    editing_mode = !editing_mode" 
                                            x-show="visit_id">
                                        <i class="bi bi-pencil"></i> 
                                        <span x-text="customer_editing_mode ? 'Скасувати' : 'Редагувати'"></span>
                                    </a>
                                </template>
                                <template x-if='!customer_editing_mode'>
                                    <button class="btn btn-sm btn-outline-light" 
                                        @click="editing_mode = !editing_mode,
                                                customer_editing_mode = false" 
                                        x-show="visit_id">
                                        <i class="bi bi-pencil"></i> 
                                        <span x-text="editing_mode ? 'Скасувати' : 'Редагувати'"></span>
                                    </button>
                                </template>
                            {% else %}
                                <h5> <span class="badge bg-success">Візит закінчений, редагування даних не можливе</span></h5>
                            {% endif %}
                            
                        </div>
                       
                        <div x-show="!editing_mode" >
                            {% include 'service_site/visits/_visit_info.html' %}
                        </div>
                        <div x-show="editing_mode" >
                            {% include 'service_site/visits/_visit_form.html' %}
                        </div>
                    </div>
                    
                </div>
            </div>

            <div class="col-4 align-self-start" id="visit-services-details">
                {% if visit %}
                    {% include 'service_site/visits/_visit_services.html' %}
                    {% if visit.visit_status.status_name != "Completed"%}
                        <button type="button" class="btn btn-primary mt-2" data-bs-toggle="modal" data-bs-target="#serviceSearchModal">
                            Додати послуги
                        </button>
                    {% endif %} 
                {% else %}
                    <p>Виберіть/створіть візит щоб побачити послуги</p>
                {% endif %}
            </div>
        </div>
    </div>
    <div data-toast-container class="toast-container position-fixed top-0 end-0 p-3" id="toasts">
        <div data-toast-template class="toast align-items-center border-0" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="d-flex">
                <div data-toast-body class="toast-body"></div>
                <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
        </div>
    </div>
    <!-- Visit Service Search Modal -->
    <div class="modal fade" id="serviceSearchModal" tabindex="-1" aria-labelledby="serviceSearchModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="serviceSearchModalLabel">Пошук послуг</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-6 border rounded">
                                {% include 'service_site/visits/_service_search.html' %}
                            </div>
                            <div class="col-md-6 ms-auto" id="staged-visit-services-container">
                                <div class="list-group mb-2" id="staged-visit-services">
                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button id="add-services-button" type="button" class="btn btn-primary add-services-button" data-bs-dismiss="modal"
                            hx-post="{% url 'save-staged-services' %}" 
                            hx-target="#visit-services" 
                            hx-vals='{"visit_id": "{{ visit.pk }}"}'
                        >
                        Додати послуги до візиту
                    </button>
                </div>
            </div>
        </div>
    </div>

    <script>
        document.getElementById('serviceSearchModal').addEventListener('hidden.bs.modal', function () {
            // Clear the contents of the staged-visit-services div
            document.getElementById('staged-visit-services').innerHTML = '';
            
            // Make the HTMX request to clear session data without updating the page
            htmx.ajax('POST', '{% url "clear-staged-services" %}', {
                values: {
                    'visit_id': '{{ visit.pk }}',
                    'csrfmiddlewaretoken': '{{ csrf_token }}'
                },
                swap: 'none'
            });

        });
        </script>
{% endblock %}