<tr>
    <td class="py-1 px-1">
        <span>{{ supplier.supplier_name }}</span>
    </td>
    <td>
        <span>{{ supplier.email|default:"Not specified" }}</span>
    </td>
    <td>
        <span>{{ supplier.phone_number|default:"Not specified" }}</span>
    </td>
    <td> {{ supplier.items_supplied|default:"0" }}</td>
    <td>{{ supplier.last_order_date|default:"Never" }}</td>
    <td>
        <button class="btn btn-sm btn-primary" 
                hx-get="{% url 'edit-supplier-row' supplier.pk %}"
                hx-target="closest tr"
                hx-swap="outerHTML">
            <i class="bi bi-pencil-fill"></i> Редагувати
        </button>
    </td>
</tr>
