<div class="card shadow-sm border-0 mb-1">
    <div class="card-body p-1">
      <form 
        class="row g-2 order-unit-form"
        hx-post="{% url 'add-order-unit' order_id %}"
        hx-target="#order-units-table-body-{{ order_id }}" 
        hx-target-error="#order-units-table-body-{{ order_id }}" 
        @htmx:after-request="htmx.ajax('GET', '{% url 'update-order' order_id %}', {target: '#row-{{ order_id }}', swap: 'outerHTML'})"
        hx-swap="afterbegin"
      >
        <input type="hidden" name="order-id-hidden-input-{{ order_id }}" value="{{ order_id }}">
  
        <div class="col-md-3" id="part-select-container-{{ order_id }}">
          {% include "service_site/part_procurement/_unit_part_select.html" %}
        </div>
  
        <div class="col-md-3">
          <label for="part_brand" class="form-label small mb-1">Бренд запчастини</label>
          <select name="part_brand" id="part-brand-select-{{ order_id }}" 
                  class="form-select form-select-sm"
                  hx-get="{% url 'unit-part-search' %}"
                  hx-trigger="change"
                  hx-target="#part-select-container-{{ order_id }}"
                  hx-include="#part-brand-select-{{ order_id }}, #part-type-select-{{ order_id }}"
                  hx-swap="innerHTML">
            <option value="">Виберіть бренд запчастини</option>
            {% for part_brand in part_brands %}
              <option value="{{ part_brand.pk }}">{{ part_brand.brand_name }}</option>
            {% endfor %}
          </select>
        </div>
  
        <div class="col-md-3">
          <label for="part_type" class="form-label small mb-1">Тип запчастини</label>
          <select name="part_type" id="part-type-select-{{ order_id }}" 
                  class="form-select form-select-sm"
                  hx-get="{% url 'unit-part-search' %}"
                  hx-trigger="change"
                  hx-target="#part-select-container-{{ order_id }}"
                  hx-include="#part-brand-select-{{ order_id }}, #part-type-select-{{ order_id }}"
                  hx-swap="innerHTML">
            <option value="">Виберіть тип запчастини</option>
            {% for part_type in part_types %}
              <option value="{{ part_type.pk }}">{{ part_type.part_type_name }}</option>
            {% endfor %}
          </select>
        </div>
  
        <div class="col-md-1">
          <label for="quantity" class="form-label small mb-1">Кількість</label>
          <input type="number" class="form-control form-control-sm" id="quantity" name="quantity" 
                 min="1" required value="1">
        </div>
  
        <div class="col-md-2">
          <label for="price_per_unit" class="form-label small mb-1">Ціна за одиницю</label>
          <input type="number" class="form-control form-control-sm" id="price_per_unit" name="price_per_unit" 
                 min="1" step="0.5" required>
        </div>
  
        <div class="col-12 d-flex justify-content-end mt-2">
          <button type="button" class="btn btn-outline-secondary btn-sm me-2" 
                  @click="event.target.closest('form').remove();">
            Скасувати
          </button>
          <button type="submit" class="btn btn-primary btn-sm">
            Зберегти
          </button>
        </div>
      </form>
    </div>
  </div>
  