<tr id="row-{{ order.pk }}"
    class="
      {% if order.procurement_status.status_name == 'In progress' %} table-info
      {% elif order.procurement_status.status_name == 'Delivered' %} table-success
      {% elif order.procurement_status.status_name == 'Rejected' %} table-danger
      {% elif order.procurement_status.status_name == 'Approved' %} table-primary
      {% else %} table-secondary
      {% endif %}
      align-middle
    ">
  <td class="py-1 px-2">
    <span class="order-number cursor-pointer fw-bold" data-order-id="{{ order.pk }}">
      {{ order.order_number }}
    </span>
  </td>
  <td class="py-1 px-2">
    {{ order.employee.first_name }} {{ order.employee.last_name }}
    <span class="text-muted small d-block">({{ order.employee.employee_position.position_name }})</span>
  </td>
  <td class="py-1 px-2">{{ order.supplier.supplier_name }}</td>
  <td class="py-1 px-2">{{ order.units.count }}</td>
  <td class="py-1 px-2">{{ order.total_price|default:"0.00" }} ₴</td>
  <td class="py-1 px-2">{{ order.order_date|date:"Y-m-d" }}</td>
  <td class="py-1 px-2">
    <span class="badge
      {% if order.procurement_status.status_name == 'In progress' %} bg-info
      {% elif order.procurement_status.status_name == 'Delivered' %} bg-success
      {% elif order.procurement_status.status_name == 'Rejected' %} bg-danger
      {% elif order.procurement_status.status_name == 'Approved' %} bg-primary
      {% else %} bg-secondary
      {% endif %}
    ">
      {{ order.procurement_status.status_name|default:"Unknown" }}
    </span>
  </td>
  <td class="py-1 px-2">
    <button 
      class="btn btn-sm btn-primary me-1"
      @click="toggleOrder('{{ order.pk }}')"
      title="View order details"
      x-show="!isExpanded('{{ order.pk }}')"
      hx-get="{% url 'procurement-order-items' order.pk %}"
      hx-target="#order-items-{{ order.pk }}"
    >
      Деталі замовлення
    </button>
    <button 
      class="btn btn-sm btn-primary me-1"
      @click="toggleOrder('{{ order.pk }}')"
      title="Hide order details"
      x-show="isExpanded('{{ order.pk }}')"
    >
      приховати деталі
    </button>
    <button 
        hx-delete="{% url 'delete-procurement-order' order.pk %}" 
        hx-target="#order-list"
        hx-include="#filter-form, #order-search-bar"
        hx-vals='js:{"items_per_page": document.getElementById("items-per-page").value}'
        class="btn btn-sm btn-danger"
        title="Видалити"
    >
      <i class="bi bi-trash"></i>
    </button>
  </td>
</tr>
