<tr id="unit-row-{{ unit.pk }}"
    hx-trigger="placementRemoved from:#expanded-placement-{{ unit.pk }}"
    hx-get="{% url 'update-unit' unit.pk %}"
    hx-target="this"
    hx-swap="outerHTML"
    x-data="{ 
        editMode: false,
        quantity: {{ unit.quantity|default:0 }},
        price: {{ unit.price_per_unit|default_if_none:unit.part.get_price_per_unit|stringformat:".2f"|default:"0.00" }},
        originalQuantity: {{ unit.quantity|default:0 }},
        originalPrice: {{ unit.price_per_unit|default_if_none:unit.part.get_price_per_unit|stringformat:".2f"|default:"0.00" }},
        cancelEdit() {
            this.quantity = this.originalQuantity;
            this.price = this.originalPrice;
            this.editMode = false;
        }
    }"
    class="align-middle {% if placed_count == unit.quantity %}table-success{% elif placed_count > 0 %}table-warning{% else %}table-light{% endif %}">

    <!-- Part name -->
    <td class="py-1 px-2 small">{{ unit.part.part_name }}</td>

    <!-- Brand -->
    <td class="py-1 px-2 small">{{ unit.part.part_brand.brand_name|default:"N/A" }}</td>

    <!-- Type -->
    <td class="py-1 px-2 small">{{ unit.part.part_type.part_type_name|default:"N/A" }}</td>

    <!-- Quantity -->
    <td class="py-1 px-2 small">
        <template x-if="editMode">
            <input type="number" class="form-control form-control-sm" x-model="quantity">
        </template>
        <template x-if="!editMode">
            <span x-text="quantity"></span>
        </template>
    </td>

    <!-- Price -->
    <td class="py-1 px-2 small">
        <template x-if="editMode">
            <input type="number" step="0.01" class="form-control form-control-sm" x-model="price" name="price">
        </template>
        <template x-if="!editMode">
            <span x-text="price + ' ₴'"></span>
        </template>
    </td>

    <!-- Total -->
    <td class="py-1 px-2 small">
        <span x-text="(quantity * price).toFixed(2) + ' ₴'"></span>
    </td>

    <!-- Placement Status -->
    <td class="py-1 px-2 small">
        <span class="badge {% if placed_count == unit.quantity %}bg-success{% elif placed_count > 0 %}bg-warning{% else %}bg-secondary{% endif %}">
            {{ placed_count }}/<span x-text="quantity"></span>
        </span>
    </td>

    <!-- Hidden Inputs -->
    <input type="hidden" name="quantity" x-model="quantity">
    <input type="hidden" name="price" x-model="price">

    <!-- Actions -->
    <td class="py-1 px-2 small text-nowrap">
        <div class="btn-group btn-group-sm" role="group">
            {% if order.procurement_status.status_name != "Delivered"%}
                <button class="btn btn-outline-primary" 
                    @click="editMode ? cancelEdit() : editMode = true" 
                    x-text="editMode ? 'Відмінити' : 'Редагувати'">
                </button>
            {% endif %}
            <button class="btn btn-outline-success" x-show="editMode"
                hx-post="{% url 'edit_unit' unit.pk %}"
                hx-include="closest tr"
                hx-target="closest tr"
                hx-target-error="#unit-row-{{ unit.pk }}"
                hx-swap="outerHTML"
                @htmx:after-request="htmx.ajax('GET', '{% url 'update-order' unit.procurement_order.pk %}', {target: '#row-{{ unit.procurement_order.pk }}', swap: 'outerHTML'})"
                @click="
                    editMode = false;
                    originalQuantity = quantity;
                    originalPrice = price;
                ">
                Зберегти
            </button>

            <button class="btn btn-primary"
                @click="toggleUnit('{{ unit.pk }}')"
                x-show="!isExpanded('{{ unit.pk }}')"
                hx-get="{% url 'unit_placements' unit.pk %}"
                hx-target="#placement-detail-{{ unit.pk }}"
                hx-swap="innerHTML">
                <i class="bi bi-eye"></i>
            </button>

            <button class="btn btn-primary"
                @click="toggleUnit('{{ unit.pk }}')"
                x-show="isExpanded('{{ unit.pk }}')">
                <i class="bi bi-eye-slash"></i>
            </button>

            {% if order.procurement_status.status_name != "Delivered"%}
                <button class="btn btn-outline-secondary"
                    hx-get="{% url 'add_placement' unit.pk %}"
                    hx-target="#placement-form-container-{{ unit.procurement_order.pk }}"
                    hx-swap="innerHTML">
                    <i class="bi bi-plus-circle"></i>
                </button>
                <button type="button" class="btn btn-danger btn-sm" hx-delete="{% url 'delete-procurement-unit' unit.procurement_unit_id %}"
                    hx-target="closest tr"
                    hx-swap="outerHTML"
                    {% comment %} TODO: use trigger to update order price {% endcomment %}
                    @htmx:after-request="htmx.ajax('GET', '{% url 'update-order' unit.procurement_order.pk %}', {target: '#row-{{ unit.procurement_order.pk }}', swap: 'outerHTML'})"
                    >
                    <i class="bi bi-trash"></i>
                </button>
            {% endif %}
        </div>
    </td>
</tr>
