<div class="p-2 mt-2 mb-2 rounded border shadow" id="selected-customer-cars"
    >
    <h3>{% if customer %} {{ customer.first_name }}'s {% endif%} авто</h3>
    {% if customer_cars %}
        {% include 'service_site/customers/_selected_customer_car_list.html' %}
    {% else %}
        Клієнта не вибрано або він немає авто
    {% endif %}
</div>

<div class="p-2 mb-2 rounded border shadow" id="selected-customer-visits">
    <h3>{% if customer %} {{ customer.first_name }}'s {% endif%} візити</h3>
    {% if customer_visits %}
        <div class="list-group" id="customer-visits">
            {% for visit in customer_visits %}
                <a href="{% url 'visit-detail' visit.pk %}" method="GET" class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">
                            {{ visit.visit_number }}, {{ visit.visit_date|date:"F j, Y" }}
                        </h5>
                        <small>
                            {% if visit.visit_status.status_name == 'Completed' %}
                                <span class="badge bg-success">{{ visit.visit_status.status_name }}</span>
                            {% endif %} 
                        </small>
                    </div>
                    <p class="mb-1">
                        послуг: {{ visit.visit_service_count }} 
                        вартість: <span class="badge bg-success">₴{{ visit.price }}</span><br>
                        авто: <span class="badge bg-secondary">{{ visit.car.vin }}</span>
                    </p>

                    {% if visit.actual_end_date %}
                        <small>Завершений: {{ visit.actual_end_date|date:"F j, Y" }}</small>
                    {% elif visit.planned_end_date %}
                        <small>
                            Орієнтовна дата завершення:
                            <span class="badge bg-primary">{{ visit.planned_end_date|date:"F j, Y" }}</span>
                        </small>
                    {% endif %} 
                </a>
            {% endfor %}
        </div>
    {% else %}
        Клієнт не вибраний
    {% endif %}
</div>