{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load group_filters %}

{% block title %}Моделі автомобілів{% endblock %}

{% block css_files %}
    <link rel="stylesheet" href="{% static 'service_site/car_models.css' %}">
{% endblock %}

{% block js_files %}
{% endblock %}

{% block content %}
    {% include 'service_site/includes/nav_bar.html'%}
    <div class="container-fluid px-5 pt-2">
        <div class="row flex-nowrap mt-2">
            <h3 class="col-5">Моделі автомобілів</h3>
        
            <div class="col-4 rounded me-2 ms-2 align-self-start" id="car-model-search-container">
                <input class="border rounded px-4 py-2 my-2 form-control" id="car-model-search-bar"
                    type="search"
                    name="search"
                    placeholder="Шукайте за назвою моделі, бренду, типу кузова..."
                    hx-get="{% url 'car-models' %}"
                    hx-trigger="input delay:0.2s"
                    hx-vals='js:{"items_per_page": document.getElementById("items-per-page").value}'
                    hx-target="#car-model-list"
                />
            </div>

            <div class="col-3 rounded me-2 ms-2 align-self-start">
                <button 
                    class="btn btn-sm btn-primary px-4 py-2 my-2"
                    hx-get="{% url 'add-car-model' %}"
                    hx-target="#add-car-model-form-container"
                    hx-swap="innerHTML"
                    type="button"
                >
                Додати модель
              </button>
            </div>
        </div>
        
        <div id="add-car-model-form-container" class="mb-3"></div>

        <div class="row flex-nowrap mt-2">
            <div class="col-12 rounded me-2 ms-2 align-self-start" id="car-model-list">
                {% include 'car_model/_car_model_list.html' %}
            </div>
        </div>
    </div>
{% endblock %}